:root {
    --inplace-editor: blue;
    --contextmenu-background: #3c3c3c;
    --contextmenu-color: rgb(212,212,212);
    --contextmenu-hover-background: #094771;
    --contextmenu-hover-color: #ffffff;

    --scrollbar: #1e1e1e;
    --scrollbar-thumb: #3e3e3e;
    --scrollbar-thumb-hover: #5e5e5e;
    --scrollbar-thumb-active: #7e7e7e;

}   


.jo_contextmenu {
    position:absolute;
    z-index: 1000;
    cursor: pointer;
    background-color: var(--contextmenu-background);
    padding: 4px 0;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    color: var(--contextmenu-color);
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

.jo_contextmenu>div {
    padding: 5px 8px;
    min-width: 80px;
    user-select: none;
    -webkit-user-select: none;
}

.jo_contextmenu>div:hover {
    background-color: var(--contextmenu-hover-background);
    color: var(--contextmenu-hover-color);
}

.jo_contextmenu>div:hover:active {
    font-weight: bold;
}

.jo_scrollable::-webkit-scrollbar {
    width:14px;
    background-color: var(--scrollbar);
}

.jo_scrollable::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

.jo_scrollable::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

.jo_scrollable::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
}
