:root {
    --inplace-editor: blue;
    --contextmenu-background: #3c3c3c;
    --contextmenu-color: rgb(212,212,212);
    --contextmenu-hover-background: #094771;
    --contextmenu-hover-color: #ffffff;

    --scrollbar: #1e1e1e;
    --scrollbar-thumb: #3e3e3e;
    --scrollbar-thumb-hover: #5e5e5e;
    --scrollbar-thumb-active: #7e7e7e;

    --reveal-syntaxelement: rgb(85,85,85);
    
    /* Breakpoints */
    --breakpoint-size: 10px;
    --breakpoint-radius: 10px;
    --margin-breakpoint: rgba(255, 0, 0, 0.623);    
    --margin-breakpoint-active: rgba(255, 0, 0, 0.815);    
    --margin-breakpoint-mousedown: rgba(255, 153, 0, 0.815);    

}   


.jo_contextmenu {
    position:absolute;
    z-index: 1000;
    cursor: pointer;
    background-color: var(--contextmenu-background);
    padding: 4px 0;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    color: var(--contextmenu-color);
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

.jo_contextmenu>div {
    padding: 5px 8px;
    min-width: 80px;
    user-select: none;
    -webkit-user-select: none;
}

.jo_contextmenu>div:hover {
    background-color: var(--contextmenu-hover-background);
    color: var(--contextmenu-hover-color);
}

.jo_contextmenu>div:hover:active {
    font-weight: bold;
}

.jo_scrollable::-webkit-scrollbar {
    width:14px;
    background-color: var(--scrollbar);
}

.jo_scrollable::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

.jo_scrollable::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

.jo_scrollable::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
}

.jo_revealSyntaxElement {
    background-color: var(--reveal-syntaxelement);
}

/* Breakpoints */
.jo_decorate_breakpoint {
    background-color: #580000;
}

.jo_decorate_breakpoint_inactive {
    background-color: #4e4e4eab;
}



.jo_margin_breakpoint {
    background: var(--margin-breakpoint-active);
    width: var(--breakpoint-size) !important;
    height: var(--breakpoint-size) !important;
    left: 1px !important;
    top: 3px;
    border-radius: var(--breakpoint-radius);
}

.jo_margin_breakpoint_inactive {
    background: #4e4e4eab;
    width: var(--breakpoint-size) !important;
    height: var(--breakpoint-size) !important;
    left: 1px !important;
    top: 3px;
    border-radius: var(--breakpoint-radius);
}

.line-numbers:hover::before {
    content: "";
    position: absolute;
    background: var(--margin-breakpoint);
    width: var(--breakpoint-size) !important;
    height: var(--breakpoint-size) !important;
    left: 1px !important;
    top: 3px;
    border-radius: var(--breakpoint-radius);
}

.line-numbers:active::before {
    content: "";
    position: absolute;
    background: var(--margin-breakpoint-mousedown);
    width: var(--breakpoint-size) !important;
    height: var(--breakpoint-size) !important;
    left: 1px !important;
    top: 3px;
    border-radius: var(--breakpoint-radius);
}

/* Debugger */
.jo_debugger_type {
    color:#6cbfe6;
}

.jo_debugger_localVariableIdentifier {
    color:#4ffa2c;
}

.jo_debugger_fieldIdentifier {
    color:#e6e92c;
}

.jo_debugger_value {
    color:#ffffff;
}

.jo_debugger_index {
    color:#b7b374;
}