.jo_button {
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.jo_button:hover {
    filter: brightness(150%);
}

.jo_button.jo_active:active {
    transform: scale(1.2);
}

.jo_button:not(.jo_active) {
    filter: grayscale();
}

