.jo_button {
    padding: 5px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}

.jo_button:hover {
    filter: brightness(150%);
}

.jo_button.jo_active:active {
    filter: brightness(80%);
}

.jo_button:not(.jo_active) {
    filter: grayscale();
}

