body, html, #main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    font-family: sans-serif;
    color: #eee;
}

#main {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(0,3fr) minmax(0,1fr);
    width: 100%;
    height: 100%;
}

#main>div {
    border: 1px solid #a0a0a0;
}

#editor {
    grid-area: 1/1;
}

#tabs {
    grid-area: 1/2;

}

.jo_tabs_tabbodies {
    height: calc(100% - 40px);
    position: relative;
}

.jo_tabs_tabbodies>div {
    height: 100%;
}

.tabBodyElement {
    overflow: auto;
    font-family: consolas;
    color: white;
}

#buttons {
    grid-area: 2/1;
}

.myButton {
    margin: 5px 10px 5px 5px;
}

#output {
    grid-area: 2/2;
    overflow: auto;
}

.errorDiv {
    display: flex;
    flex-direction: column;
}

.errorPosition {
    color: red;
}

.errorText {
    margin-left: 5px;    
}

.programControlbuttons {
    display: flex;
    flex-direction: row;
    margin-left: 4px;
}

.output {
    font-family: Consolas;
    color: white;
}

.jo_speedcontrol-outer {
    margin-left: 10px;
}
