body, html, #main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    font-family: sans-serif;
    color: #eee;
}

#main {
    display:grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: minmax(0,3fr) minmax(0,1fr);
    width: 100%;
    height: 100%;
}

#main>div {
    border: 1px solid #a0a0a0;
}

#editorOuter {
    grid-area: 1/1;
    display: flex;
    flex-direction: column;
    position: relative;
}

#insighttabs {
    grid-area: 1/2;

}

.jo_tabs_tabbodies {
    height: calc(100% - 40px);
    position: relative;
}

.jo_tabs_tabbodies>div {
    height: 100%;
}

.tabBodyElement {
    overflow: auto;
    font-family: consolas;
    color: white;
}

#buttons {
    grid-area: 2/1;
}

.myButton {
    margin: 5px 10px 5px 5px;
}

#output {
    grid-area: 2/2;
    overflow: auto;
}

.errorDiv {
    display: flex;
    flex-direction: column;
}

.errorPosition {
    color: red;
}

.errorText {
    margin-left: 5px;    
}

.programControlbuttons {
    display: flex;
    flex-direction: row;
    margin-left: 4px;
}

.output {
    font-family: Consolas;
    color: white;
}

.jo_speedcontrol-outer {
    margin-left: 10px;
}


/* reveal program pointer */
.jo_revealProgramPointer{
    background-color: #6fd61b56;
}

.jo_revealProgramPointerBefore::before{
    content: " ";
    background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F%3E%3Csvg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns%23" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns%23" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="16" height="16" viewBox="0 0 16 16" fill="none" version="1.1" id="svg4" sodipodi:docname="program-pointer.svg" inkscape:version="0.92.3 (2405546, 2018-03-11)"%3E%3Cmetadata id="metadata10"%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=""%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id="defs8" /%3E%3Csodipodi:namedview pagecolor="%23ffffff" bordercolor="%23666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="730" inkscape:window-height="480" id="namedview6" showgrid="false" inkscape:zoom="14.75" inkscape:cx="8" inkscape:cy="8" inkscape:window-x="760" inkscape:window-y="272" inkscape:window-maximized="0" inkscape:current-layer="svg4" /%3E%3Cpath d="M 3.99976,14 V 2.18091 l 9.00004,5.88124 z" id="path2" inkscape:connector-curvature="0" style="clip-rule:evenodd;fill:%2389d185;fill-rule:evenodd" sodipodi:nodetypes="cccc" /%3E%3C/svg%3E%0A'); /*img(program-pointer.svg)*/
    background-size: cover;
    background-position-x: -2px;
    background-position-y: 2px;
    width: 10px;
    display: inline-block;
    height: 14px;
}

.jo_revealCallstackEntry{
    background-color: #1b66d656;
}

.jo_revealCallstackEntryBefore::before{
    content: " ";
    background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F%3E%3Csvg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns%23" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns%23" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="16" height="16" viewBox="0 0 16 16" fill="none" version="1.1" id="svg4" sodipodi:docname="program-pointer.svg" inkscape:version="0.92.3 (2405546, 2018-03-11)"%3E%3Cmetadata id="metadata10"%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=""%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id="defs8" /%3E%3Csodipodi:namedview pagecolor="%23ffffff" bordercolor="%23666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="730" inkscape:window-height="480" id="namedview6" showgrid="false" inkscape:zoom="14.75" inkscape:cx="8" inkscape:cy="8" inkscape:window-x="760" inkscape:window-y="272" inkscape:window-maximized="0" inkscape:current-layer="svg4" /%3E%3Cpath d="M 3.99976,14 V 2.18091 l 9.00004,5.88124 z" id="path2" inkscape:connector-curvature="0" style="clip-rule:evenodd;fill:%234377d6;fill-rule:evenodd" sodipodi:nodetypes="cccc" /%3E%3C/svg%3E%0A'); /*img(program-pointer.svg)*/
    background-size: cover;
    background-position-x: -2px;
    background-position-y: 2px;
    width: 10px;
    display: inline-block;
    height: 14px;
}

.jo_margin_test_start {
    height: 16px !important;
    width: 16px !important;
    margin-left: 40px;
    margin-top: 4px;
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20version%3D%221.1%22%20id%3D%22svg1%22%20sodipodi%3Adocname%3D%22test-start.svg%22%20inkscape%3Aversion%3D%221.3%20(0e150ed6c4,%202023-07-21)%22%20xmlns%3Ainkscape%3D%22http%3A%2F%2Fwww.inkscape.org%2Fnamespaces%2Finkscape%22%20xmlns%3Asodipodi%3D%22http%3A%2F%2Fsodipodi.sourceforge.net%2FDTD%2Fsodipodi-0.dtd%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%20id%3D%22defs1%22%20%2F%3E%3Csodipodi%3Anamedview%20id%3D%22namedview1%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23000000%22%20borderopacity%3D%220.25%22%20inkscape%3Ashowpageshadow%3D%222%22%20inkscape%3Apageopacity%3D%220.0%22%20inkscape%3Apagecheckerboard%3D%220%22%20inkscape%3Adeskcolor%3D%22%23d1d1d1%22%20inkscape%3Azoom%3D%2245.629504%22%20inkscape%3Acx%3D%227.6156865%22%20inkscape%3Acy%3D%227.6595178%22%20inkscape%3Awindow-width%3D%221920%22%20inkscape%3Awindow-height%3D%221009%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Acurrent-layer%3D%22svg1%22%20%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M%201.0802966,11.255214%20V%200.87203817%20L%208.9869123,6.0387619%20Z%20M%202.3982617,3.3486078%206.6278519,6.0387619%202.3982617,8.778611%20Z%22%20fill%3D%22%2389d185%22%20id%3D%22path1%22%20style%3D%22stroke-width%3A1%22%20%2F%3E%3Cpath%20style%3D%22fill%3Anone;fill-opacity%3A0.654902;stroke%3A%2304be00;stroke-width%3A1.734;stroke-linecap%3Around;stroke-linejoin%3Around;stroke-dasharray%3Anone;stroke-opacity%3A1%22%20d%3D%22M%208.5471014,8.6665025%2010.388016,10.28826%2014.201338,5.0942524%22%20id%3D%22path2%22%20%2F%3E%3Cpath%20style%3D%22fill%3Anone;fill-opacity%3A0.654902;stroke%3A%23da0000;stroke-width%3A1.734;stroke-linecap%3Around;stroke-linejoin%3Around;stroke-dasharray%3Anone;stroke-opacity%3A1%22%20d%3D%22M%209.2264863,12.53925%2011.067401,14.161008%2014.880723,8.967%22%20id%3D%22path3%22%20%2F%3E%3C%2Fsvg%3E%0A");
}

.jo_margin_test_start:hover {
    filter: brightness(150%);
    cursor: pointer;
}

#debuggerdiv {
    display: flex;
    flex-direction: column;
}