body, html, #main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    font-family: sans-serif;
    color: #eee;
}

#main {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(0,3fr) minmax(0,1fr);
    width: 100%;
    height: 100%;
}

#main>div {
    border: 1px solid #a0a0a0;
}

#editor {
    grid-area: 1/1;
}

#tabs {
    grid-area: 1/2;

}

.jo_tabs_tabbodies {
    height: calc(100% - 40px);
    position: relative;
}

.jo_tabs_tabbodies>div {
    height: 100%;
}

.tabBodyElement {
    overflow: auto;
    font-family: consolas;
    color: white;
}

#buttons {
    grid-area: 2/1;
}

.myButton {
    margin: 5px 10px 5px 5px;
}

#output {
    grid-area: 2/2;
    overflow: auto;
}

.errorDiv {
    display: flex;
    flex-direction: column;
}

.errorPosition {
    color: red;
}

.errorText {
    margin-left: 5px;    
}

.programControlbuttons {
    display: flex;
    flex-direction: row;
    margin-left: 4px;
}

.output {
    font-family: Consolas;
    color: white;
}

.jo_speedcontrol-outer {
    margin-left: 10px;
}


/* reveal program pointer */


.jo_revealProgramPointer{
    background-color: #6fd61b56;
}

.jo_revealProgramPointerBefore::before{
    content: " ";
    background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F%3E%3Csvg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns%23" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns%23" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="16" height="16" viewBox="0 0 16 16" fill="none" version="1.1" id="svg4" sodipodi:docname="program-pointer.svg" inkscape:version="0.92.3 (2405546, 2018-03-11)"%3E%3Cmetadata id="metadata10"%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=""%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id="defs8" /%3E%3Csodipodi:namedview pagecolor="%23ffffff" bordercolor="%23666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="730" inkscape:window-height="480" id="namedview6" showgrid="false" inkscape:zoom="14.75" inkscape:cx="8" inkscape:cy="8" inkscape:window-x="760" inkscape:window-y="272" inkscape:window-maximized="0" inkscape:current-layer="svg4" /%3E%3Cpath d="M 3.99976,14 V 2.18091 l 9.00004,5.88124 z" id="path2" inkscape:connector-curvature="0" style="clip-rule:evenodd;fill:%2389d185;fill-rule:evenodd" sodipodi:nodetypes="cccc" /%3E%3C/svg%3E%0A'); /*img(program-pointer.svg)*/
    background-size: cover;
    background-position-x: -2px;
    background-position-y: 2px;
    width: 10px;
    display: inline-block;
    height: 14px;
}
